@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@layer utilities {
    .content-auto {
        content-visibility: auto;
    }
}

body {
    width: 100%;
    margin: 0;
}